<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
    <footer id="contact" class="footer">
        <div class="container">
            <h2>Contactez-nous</h2>
            <p>Email : sorties@mayotte.yt</p>
            <p>Fax : 0269 63 10 91</p>
            <p>Téléphone : 0639 25 43 78</p>
        </div>
    </footer>
</body>
</html>
