<nav class="navbar">
    <ul>
        <li><a href="/" class="<%= title === 'Accueil' ? 'active' : '' %>">Accueil</a></li>
        <li><a href="/compte" class="<%= title === 'Créer un Compte Client' ? 'active' : '' %>">Créer un Compte</a></li>
        <li><a href="/reserver" class="<%= title === 'Réserver une Sortie' ? 'active' : '' %>">Réserver une Sortie</a></li>
        <li><a href="/contact" class="<%= title === 'Contactez-nous' ? 'active' : '' %>">Contact</a></li>
    </ul>
</nav>

